<h3 style="margin-left: 10px; color: #000"><strong>New Book</strong></h3>

<%= render 'form', product: @product %>

<h4 style="margin-left: 10px; color: #000"><strong><%= link_to 'Back', products_path %></strong></h4>
